<div class="container">
      <div class="card mt-5">
        <div class="card-body">
          <h2 class="card-title">Stupid Coaching</h2>
          <h4 class="card-subtitle mb-2"><%= params[:question] %></h4>
          <p class="card-text"><em>You</em></p>
          <h4 class="card-subtitle mb-2"><%= @answer %></h4>
          <p class="card-text"><em>Your coach</em></p>
          <%= link_to "Ask a new question", ask_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>